---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import MainVisual from '../components/Atoms/MainVisual.astro';
import Nav from '../components/Molecules/Nav.astro';
import SectionBlock from '../components/Organaisms/SectionBlock.astro';
import SectionTitle from "../components/Atoms/SectionTitle.astro"
import BlogItem from "../components/Molecules/BlogItem.astro"

import ImageConcept from '../assets/images/concept.jpg';
import ImageWebpConcept from '../assets/images/concept.webp';
import ImageBlog01 from '../assets/images/thumbnail01.jpg';
import ImageBlog2x01 from '../assets/images/thumbnail01@2x.jpg';
import ImageWebpBlog01 from '../assets/images/thumbnail01.webp';
import ImageWebp2xBlog01 from '../assets/images/thumbnail01@2x.webp';
---

<DefaultLayout
	pageName="ホーム"
	desc="Sky Coffeeの説明文が入ります。"
	type="website"
>
	<MainVisual />
	<Nav />
	<div class="contents">
		<SectionBlock
			image={ImageConcept}
			imageWebp={ImageWebpConcept}
			titleEn="Concept"
			titleJp="心静かにコーヒーを"
			text="立ち止まって、\n空の青さを眺めて、\n一息つきましょう"
		/>
		<SectionTitle
			element="h2"
			titleEn="blog"
			titleJp="ブログ"
		/>
		<BlogItem
			link="#"
			image={ImageBlog01}
			image2x={ImageBlog2x01}
			imageWebp={ImageWebpBlog01}
			imageWebp2x={ImageWebp2xBlog01}
			title="コーヒーカー始めました。"
			data="2030.08.08"
		/>
	</div>
	<p>test</p>
</DefaultLayout>

<style lang="scss">
	.contents {
		width: 100%;
		max-width: 1110px;
		margin: auto;
		padding: 50px 20px;
		box-sizing: border-box;

		@media screen and (max-width: 767px) {
			max-width: 100%;
		}
	}
</style>